#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Root password
rootpw --plaintext password
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  America/New_York
# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on
network  --bootproto=dhcp --device=enp0s8 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part swap --fstype=swap --size=1024 --ondrive=sda
part / --fstype=ext4 --grow --size=1 --ondrive=sda
part /boot --fstype=ext4 --size=500 --ondrive=sda
#part /opt --fstype=ext4 --grow --size=1 --ondrive=sdb

#add vbox shared folder group
group --name=vboxsf

#add users
user --name=vagrant  --shell=/bin/bash --password=vagrant --plaintext --groups=vboxsf
%packages
@base --nodefaults
@core --nodefaults
@x11 --nodefaults
bzip2
dosfstools
chrony
control-center
man-pages
mlocate
nano
rsync
sysstat
tcpdump
tcsh
unzip
vim-enhanced
wget
which
yum-utils
zip
dos2unix
ntp
system-config-kickstart
system-config-users
cpp.x86_64
dconf
file-roller
file-roller-nautilus
firewall-config
firstboot
gcc-c++.x86_64
gdm
gedit
glib-networking
gnome-calculator
gnome-disk-utility
gnome-icon-theme
gnome-initial-setup
gnome-packagekit
gnome-packagekit-updater
gnome-screenshot
gnome-classic-session
gnome-settings-daemon
gnome-shell
gnome-software
gnome-system-log
gnome-system-monitor
gnome-terminal
gnome-terminal-nautilus
gnome-themes-standard
gcc.x86_64
kernel-headers
ksh
libproxy-mozjs
nautilus
NetworkManager-libreswan-gnome
nm-connection-editor
patch
PackageKit-command-not-found
PackageKit-gtk3-module
perl-Data-Dumper
perl-Env
xdg-user-dirs-gtk
gnome-shell-browser-plugin
vim-X11
firefox
dejavu-fonts-common.noarch
dejavu-sans-fonts.noarch
dejavu-sans-mono-fonts.noarch
dejavu-serif-fonts.noarch
liberation-fonts-common.noarch
liberation-mono-fonts.noarch
liberation-sans-fonts.noarch
liberation-serif-fonts.noarch
-alsa-tools-firmware
-alsa-firmware
-anaconda-core
-anaconda-gui
-anaconda-tui
-dracut-network
-dracut-config-rescue
-firewall-config
-firewalld
-firewalld-filesystem
-firstboot
-gnome-screenshot
-gnome-terminal-nautilus
-initial-setup
-initial-setup-gui
-kernel-tools-libs
-kernel-tools
-libreport-cli
-libreport-python
-libreport
-python-meh
-python-firewall
-tigervnc-server-minimal
-virt-what
-tuned
%end
%post --log=/tmp/post.log
vmhostname="v1.test.com"
hostname "$vmhostname"
echo -e "NETWORKING=yes\nHOSTNAME=$vmhostname" > /etc/sysconfig/network
echo -e "$vmhostname" > /etc/hostname
# create users and groups
# create this for VBox shared folder as by default user is not
# allocated to this - we will add it right now
usermod -aG vboxsf vagrant 
ed /etc/sudoers<<EOF
102a
vagrant ALL=(ALL)      NOPASSWD: ALL
.
w
q
EOF
yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum -y install  http://rpms.remirepo.net/enterprise/remi-release-7.rpm
if [ $? -eq 0 ]
then
	forgepkgs="htop meld"
	yum -y install $forgepkgs
fi
yum clean all
mkdir -p /home/vagrant/.ssh
curl https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant.pub  -o /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant/.ssh
chmod 700 /home/vagrant/.ssh
chmod 600 /home/vagrant/.ssh/authorized_keys
#remove unneeded locales
localedef --list-archive | grep -v -i ^en | xargs localedef --delete-from-archive
find /usr/share/locale -mindepth 1 -maxdepth 1 ! -name 'en' -exec rm -rf {} \;
if [ -d /var/tmp ]
then
	cd /var/tmp
	rm -rf *
fi
if [ -d  /var/cache/yum/x86_64/]
then
	cd /var/cache/yum/x86_64/
	rm -rf *
fi
%end
